<style>
    .sortHumor{
        background-color: black;
        color:white;
        margin: 3px;
        padding: 1px;
    }
    h2{
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 0;
    }
    p {
        margin: 0 0 0;
    }
</style>
<div class="grid-container">
    <div class="col-md-12" id="jokes">

        <div class="tab-content">
                <h3>Jokes</h3>
                        {{#each ownjokes}}
                          <div class="sortHumor">
                              <div class="sortHumor">
                                  <h2>{{this.setup}}</h2>
                                  <p>{{this.punchline}}</p>
                              </div>
                            </div>


                        {{/each}}
                    </div>





        </div>

            <div id="menu1" class="grid-item">
                <h3>Other Sites</h3>
                <div class="col-md-2">
                    <ul class="nav  flex-column">
                        {{#each otherSources}}
                            <li><a data-toggle="tab" href="#{{this._id}}">{{this.name}}</a></li>
                        {{/each}}

                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="tab-content">
                        {{#each otherSources}}
                        <div id="{{this._id}}" class="tab-pane fade">

                            <div class="jumbotron">
                                <div class="container">
                                    <h1>{{this.name}}</h1>
                                    <p><a href="{{this.address}}">Gå til webside!</a></p>
                                </div>
                            </div>

                            {{#each (lookup ../otherjokes this._id) }}
                                <div class="sortHumor">
                                    <h2>{{this.setup}}</h2>
                                    <p>{{this.punchline}}</p>
                                </div>
                            {{/each}}





                        </div>
                        {{/each}}

                    </div>
                </div>




            </div>

            <div id="menu2" class="grid-item">
                <h3>Lav en joke</h3>
                <div class="row">
                    <form action="/api/jokes" method="post">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Setup</span>
                            <input type="text" class="form-control" name="setup" placeholder="Setup" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Punchline <br> 😆😆😆😆</span>
                            <input type="text" class="form-control" name="punchline" placeholder="Punchline" aria-describedby="basic-addon1">
                            <button type="submit" class="btn btn-outline-secondary">Lav Joke</button>
                        </div>
                    </div>
                    </form>

                </div>



            </div>

        </div>





    </div>
</div>







