{{#each jokes}}
    <div class="joke" id="{{_id}}">
        <p class="joke-setup">{{setup}}</p>
        <p class="joke-punchline hidden" id="{{_id}}-punchline">{{punchline}}</p>
        <div class="joke-edit-actions hidden" id="{{_id}}-edit-actions">
            <input type="text" id="{{_id}}-edit-setup" value="{{setup}}">
            <input type="text" id="{{_id}}-edit-punchline" value="{{punchline}}">
        </div>
    </div>
{{/each}}
